<section id="CashMemoForm">
  <nb-card>
    <nb-card-header>
      <div class="container-fluid">
        <div class="row">
          <span>
            Sales Memo
          </span>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <!-- <nb-stepper orientation="horizontal" #SalesMemo disableStepNavigation> -->
      <nb-stepper orientation="horizontal" [linear]="true" #SalesMemo>
        <nb-step label="Customer Information" [stepControl]="customerDetailsForm">
          <form #customerDetails="ngForm" [formGroup]="customerDetailsForm" class="step-container">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <label class="mb-2 mt-4 p-0">Customer Name</label>
                  <div class="input-group">
                    <input fullWidth nbInput
                           placeholder="Customer Name"
                           formControlName="customerName"
                           [value]="customerModel?.customerName">
                  </div>
                  <div class="input-group">
                    <div *ngIf="(customerDetailsForm.get('customerName')?.touched || customerDetailsForm.get('customerName')?.dirty) && customerDetailsForm.get('customerName')?.invalid"
                         class="validationError"></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="mb-2 mt-4 p-0">Customer Phone Number</label>
                  <div class="input-group">
                    <nb-form-field>
                      <input nbInput type="number"
                             placeholder="Customer Phone Number"
                             formControlName="customerPhoneNumber"
                             [value]="customerModel?.contactNumber"
                             id="ContactNumber"
                             [nbAutocomplete]="autoControl">
                      <button nbButton nbSuffix status="primary" status="primary" (click)="searchSimilarPhoneNumbers()">
                        <nb-icon icon="search"></nb-icon>
                      </button>
                      <nb-autocomplete #autoControl (selectedChange)="selectPhoneNumber($event)">
                        <nb-option *ngFor="let customerContactNumber of customerContactNumbers"
                                   [value]="customerContactNumber">
                          {{ customerContactNumber }}
                        </nb-option>
                      </nb-autocomplete>
                    </nb-form-field>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="mb-2 mt-4 p-0">Customer Email</label>
                  <div class="input-group">
                    <input fullWidth nbInput
                           type="email"
                           placeholder="Email"
                           formControlName="email"
                           [value]="customerModel?.email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="mb-2 mt-4 p-0">Delivery Address</label>
                  <div class="input-group">
                    <input fullWidth nbInput
                           placeholder="Delivery Address"
                           formControlName="deliveryLocation"
                           [value]="customerModel?.address">
                  </div>
                </div>
                <div class="col-md-12">
                  <label class="mb-2 mt-4 p-0">Terms & Conditions</label>
                  <div class="input-group">
                    <textarea fullWidth nbInput
                              placeholder="Terms & Conditions"
                              formControlName="remarks"
                              [value]="customerModel?.remarks"></textarea>
                  </div>
                </div>
                <div class="d-flex justify-content-between mt-5">
                  <button nbButton hero type="button" status="danger" class="float-right"
                          (click)="syncCustomerInfo(true)">Skip</button>
                  <button nbButton hero type="button" status="success" class="float-right"
                          (click)="syncCustomerInfo(false)">Save & Continue</button>
                </div>
              </div>
            </div>
          </form>
        </nb-step>

        <nb-step [stepControl]="productDetails" label="Product Details">
          <form #productDetails="ngForm" class="step-container">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <label class="mb-2 mt-4 p-0">Select Product</label>
                  <nb-select fullWidth required
                             placeholder="Select Product"
                             [(selected)]="selectedOrderDetails.productId"
                             (selectedChange)="selectProduct($event)">
                    <nb-option [value]=0>Select Product</nb-option>
                    <nb-option *ngFor="let product of productList" [value]="product.productId">
                      {{ product.productName }}</nb-option>
                  </nb-select>
                </div>
                <div class="col-md-4">
                  <label class="mb-2 mt-4 p-0">Select Variant</label>
                  <nb-select fullWidth required
                             placeholder="Select Variant"
                             [(selected)]="selectedOrderDetails.productVariantId"
                             (selectedChange)="selectVariant($event)">
                    <nb-option [value]=0>Select Variant</nb-option>
                    <nb-option *ngFor="let variant of selectedOrderDetails.variants" [value]="variant.variantId"> {{
                      variant.variantName }}</nb-option>
                  </nb-select>
                </div>
                <div class="col-md-4">
                  <label class="mb-2 mt-4 p-0">&nbsp;</label>
                  <input
                         nbButton fullWidth hero status="primary"
                         type="button"
                         value="Add Product"
                         class="btn btn-primary"
                         (click)="addToCart()">
                </div>
              </div>
              <div class="row">
                <div [formGroup]="orderDetailsForm" class="col-md-12" id="CartPage">
                  <table class="mt-4" style="width:100%">
                    <thead>
                      <tr class="align-bottom row-color-2">
                        <th class="ng-star-inserted">Actions</th>
                        <th class="ng-star-inserted">Product Name</th>
                        <th class="ng-star-inserted">Variant Name</th>
                        <th class="ng-star-inserted">Stock Quantity</th>
                        <th class="ng-star-inserted">Quantity</th>
                        <th class="ng-star-inserted">Minimum Retail Price</th>
                        <th class="ng-star-inserted">Maximum Retail Price</th>
                        <th class="ng-star-inserted">Price</th>
                        <th class="ng-star-inserted">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container formArrayName="salesDetails"
                                    *ngFor="let rowFormGroup of orderDetailsFormArray.controls; let i = index">
                        <tr [formGroupName]="i" class="deactive">
                          <td>
                            <button nbButton status="danger" type="button" (click)="removeFromCart(i)">
                              <nb-icon icon="trash-2"></nb-icon>
                            </button>
                          </td>
                          <td>{{ orderInvoiceModel.salesDetails[i].productName }}</td>
                          <td>{{ orderInvoiceModel.salesDetails[i].productVariantName }}</td>
                          <td> {{ orderInvoiceModel.salesDetails[i].maxQuantity }} </td>
                          <td>
                            <input fullWidth nbInput required
                                   placeholder="Quantity"
                                   formControlName='quantity'
                                   [value]="orderInvoiceModel.salesDetails[i].quantity">
                            <div
                                 *ngIf="(rowFormGroup.get('quantity')?.touched || rowFormGroup.get('quantity')?.dirty) && rowFormGroup.get('quantity')?.invalid">
                              <div *ngIf="rowFormGroup.get('quantity')?.hasError('required')"
                                   class="validationErrorMsg">
                                Quantity is required.
                              </div>
                              <div *ngIf="rowFormGroup.get('quantity')?.hasError('min')" class="validationErrorMsg">
                                Quantity must be at least 1.
                              </div>
                              <div *ngIf="rowFormGroup.get('quantity')?.hasError('max')" class="validationErrorMsg">
                                Quantity cannot exceed {{ orderInvoiceModel.salesDetails[i].maxQuantity }}.
                              </div>
                            </div>
                          </td>
                          <td>{{ orderInvoiceModel.salesDetails[i].minRetailPrice }}</td>
                          <td>{{ orderInvoiceModel.salesDetails[i].maxRetailPrice }}</td>
                          <td>
                            <input fullWidth nbInput required
                                   placeholder="Retail Price"
                                   formControlName='retailPrice'
                                   [value]="orderInvoiceModel.salesDetails[i].retailPrice">
                            <div
                                 *ngIf="(rowFormGroup.get('retailPrice')?.touched || rowFormGroup.get('retailPrice')?.dirty) && rowFormGroup.get('retailPrice')?.invalid">
                              <div *ngIf="rowFormGroup.get('retailPrice')?.hasError('required')"
                                   class="validationErrorMsg">
                                Retail price is required.
                              </div>
                              <div *ngIf="rowFormGroup.get('retailPrice')?.hasError('min')" class="validationErrorMsg">
                                Retail price must be at least {{ orderInvoiceModel.salesDetails[i].minRetailPrice }}.
                              </div>
                              <div *ngIf="rowFormGroup.get('retailPrice')?.hasError('max')" class="validationErrorMsg">
                                Retail price cannot exceed {{ orderInvoiceModel.salesDetails[i].maxRetailPrice }}.
                              </div>
                            </div>
                          </td>
                          <td>{{ orderInvoiceModel.salesDetails[i].totalCostPrice }}</td>
                        </tr>
                      </ng-container>
                      <tr>
                        <td colspan="8"><b>Total Discount</b></td>
                        <td>
                          <input fullWidth nbInput required
                                 placeholder="Discount"
                                 formControlName='totalDiscount'
                                 [value]="orderInvoiceModel.totalDiscount">
                        </td>
                      </tr>
                      <tr>
                        <td colspan="8"><b>Net Total</b></td>
                        <td><b>{{ orderInvoiceModel.invoiceTotal }}</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-12 mt-5">
                  <button nbButton hero type="button" status="primary" class="float-right" nbStepperNext
                          (click)="initializePaymentDetailsForm()">next</button>
                </div>
              </div>
            </div>
          </form>
        </nb-step>

        <nb-step [stepControl]="somethingForm" label="Payments">
          <div class="container-fluid input-group">
            <form #somethingForm="ngForm" class="step-container" id="step3Form">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="mt-3 pt-3">All Payment Records</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <table class="mt-4" style="width:100%">
                    <thead>
                      <tr class="align-bottom row-color-2">
                        <th class="ng-star-inserted">Payment Id</th>
                        <th class="ng-star-inserted">Payment Date</th>
                        <th class="ng-star-inserted">Payment Amount</th>
                        <th class="ng-star-inserted">Invoice Total</th>
                        <th class="ng-star-inserted">Due Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngFor="let payment of salesModel.PaymentHistory; let i = index">
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.PaymentDate }}</td>
                        <td>{{ payment.PaymentAmount }}</td>
                        <td>{{ payment.InvoiceTotalAmount }}</td>
                        <td>{{ payment.TotalDueAmount }}</td>
                      </tr>
                      <tr>
                        <td colspan="3"><b>Net Total</b></td>
                        <td><b>{{ salesModel.NetTotal }}</b></td>
                        <td><b>{{ salesModel.NetTotal }}</b></td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h5 class="mt-3 pt-3">New Payment Details</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="mb-2 mt-4 p-0">Payment Date</label>
                  <input fullWidth nbInput required
                         placeholder="Payment Date"
                         name="PaymentDate"
                         class="input-group"
                         [nbDatepicker]="dateTimePicker">
                  <nb-datepicker #dateTimePicker></nb-datepicker>
                </div>
                <div class="col-md-6">
                  <label class="mb-2 mt-4 p-0">Payment Amount</label>
                  <input fullWidth nbInput required
                         placeholder="Payment Amount"
                         name="PaymentAmount"
                         class="input-group">
                </div>
              </div>
              <div class="col-md-12 mt-5">
                <button nbButton hero type="button" status="primary" class="float-right" nbStepperNext>Pay</button>
              </div>
            </form>
          </div>
        </nb-step>

        <nb-step [hidden]="true">
          <div class="container-fluid">
            <div class="step-container">
              <div class="row">`
                <h3 style="text-align: center;">Invoice Saved Successfully!</h3>
                <button nbButton hero type="button" status="primary" class="float-right"
                        (click)="SalesMemo.reset()">Done</button>
              </div>
            </div>
          </div>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>
</section>